body {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #eee;
}

.top-buffer {
  margin-bottom:10px;
}

.header img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin label
{
  margin-top: 5px;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin button[type="submit"] {
  margin-top: 10px;
  margin-bottom: 10px;
}
.form-signin h3 {
  color: #00CC00;
  margin-top: 10px;
}
.form-signin .text-center {
  padding-top: 0px;
}

.order-history {
  padding: 15px;
}

.navbar-toggle-b {
  float: left;
  margin-left: 15px;
}

.nav.navbar-text.navRight {
  float: right;
  color: #337ab7;
}

@media (min-width: 0) {
  .navbar-toggle-b {
    display: block; /* force showing the toggle */
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
  }
  .navbar-toggle-b button:hover {
    display: block; /* force showing the toggle */
    color: #fff;
    background-color: #2e6da4;
    border-color: #2e6da4;
  }
}

@media (min-width: 992px) {
  .navbar-b {
    right: auto;
    background: none;
    border: none;
  }
}
@media (min-width: 769px) {
  #carousel-example-generic{
    max-width: 100%;
  }
  .carousel-width {
    width: 718px;
    margin-left: auto;
    margin-right: auto;
  }
  .carousel {
    height: 399px;
    margin-left: auto;
    margin-right: auto;
  }
  .item {
    height: 399px;
  }
}
#result_div {
  background-color: #FFF;
  /*width: 850px;*/
  height: 175px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-left: 445px;
  margin-top: 300px;
}
h1{
  padding:20px;
  background-color:#337ab7;
  /*width: 850px;*/
  color:#FFF;
}

#cart{
  /*width:850px;*/
  height:auto;
  position:relative;
  background-color:#FFFFFF;
}
#cart .well{
  background-color: #FFFFFF;
  padding-top: 0px;
}

#heading{
  padding-bottom:20px;
}

#product_div{
  height:530px;
  background: #fff;
  border: 1px solid #E0E0E0;

}
div#image_div {
  height: 290px;

}
div#image_div img {
  display: block;
  margin-left: auto;
  margin-right:auto;
}

div#info_product {
  height: 165px;
  margin-left: 5px;
}
tr {
  background: white;
}
#order_info{
  background-color:#FFF;
  width:640px;
  margin:0 auto;
  margin-bottom:10px;
}

div#text {
  color: #337ab7;
  margin-bottom: 10;
  font-family: 'Raleway', sans-serif;
}

#table{
  font-size:15px;
  background-color:#E1E1E1;
  width:100%;
}
tr{
  bgcolor:#FFFFFF;
}
#main_heading{
  font-weight:bold;
  bgcolor:#FFFFFF;
}
div#name {
  font-weight: 700;
  font-size: 17px;
  margin-bottom: 10px;
}
div#desc {
  font-size: 15px;
  margin-bottom: 11px;
  min-height: 105px;
  line-height: 1.4;
}
div#add_button {
  margin-top: 23px;
  margin-left: 5px;
}
span#go_back {
  margin-left: 245px;
}

.order_table{
  padding-bottom: 20px;
}

div#order_info table{
  margin-top: 10px;
}
tr.spacer {
  height: 10px;
}

.text-center {
  padding-top: 20px;
}
.col-xs-12 {
  background-color: #fff;
}
#sidebar {
  height: 100%;
  padding-right: 0;
  padding-top: 20px;
}
#sidebar .nav {
  width: 95%;
}
#sidebar li {
  border:0 #f2f2f2 solid;
  border-bottom-width:1px;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -41.6%;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -41.6%;
  }
  .row-offcanvas-right.active {
    right: 41.6%;
  }
  .row-offcanvas-left.active {
    left: 41.6%;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }
  #sidebar {
    padding-top:0;
  }
}

.navmenu, .navbar-offcanvas {
  width: 200px;
}
.navmenu-nav.dropdown-menu { position:relative; }
.navbar-b {
  background: none;
  border: none;
}


.navmenu-default .navmenu-nav>li>button.sb-link, .navbar-default .navbar-offcanvas .navmenu-nav>li>button.sb-link{
  background: none;
  background-color: #337ab7;
  border: none;
  margin-top: 2px;
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
}
.navmenu-default .navmenu-nav>li>button.sb-link:hover, .navbar-default .navbar-offcanvas .navmenu-nav>li>button.sb-link:hover{
  background: none;
  border: 2px solid #337ab7;
  color: #337ab7;
  padding-top: 23px;
  padding-bottom: 23px;
  width: 100%;
}

.navmenu-default .navmenu-nav>li, .navbar-default .navbar-offcanvas .navmenu-nav>li{
  color: #337ab7;
}

.addAdd {
  margin-left: auto;
  margin-right: auto;
}
.error {
  color: red;
}
.footer {
  margin-top: 20px;
}
